
/* Post Page */
.post-container {
    margin: auto;
    width: 55%;
    padding-top: 35px;
    height: 100%;
    display: block;
}

.article-container {
    float: left;
    background-color: rgba(179, 181, 222, 0.1);
    width: 66%;
    border-top: 3px solid rgba(179, 181, 222);
}


.article {
    float: center;
    text-align: left;
    /* background-color: cyan; */
    margin: 3%;
}

.article-title {
    font-family: 'Bad Script'; font-size:15px;
    font-weight: bolder;
}

.article-info {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 3%;
    /* background-color: gray; */
    display: block;

    color: rgba(0,0,0,.44);
    fill: rgba(0,0,0,.44);
}

.article-body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    margin-top: 3%;
    font-weight: normal;
    /* background-color: white; */
}


.article-info-publish-date {
    float: left;
}

.article-info-author-image {
    float: right;
    margin-right: 3%;
}

.article-info-author {
    float: right;
}

.side-bar-container {
    float: right;
    background-color: rgba(255, 205, 0, .03);
    width: 33%;
    border-top: 3px solid rgba(255, 205, 0.1);
}

.side-bar {
    float: center;
    text-align: center;
    margin: 3%;
}

.user-image {
    max-width: 70%;
    border-radius: 50%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.user-bio {
    float: center;
    margin-top: 3%;
    margin-bottom: 3%;
    /* background-color: orange; */
    text-align: center;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* Banner */
.my-banner-container {
    width : 100%;
    height : 10rem;
    background-image : linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url("../images/banner.jpeg");

    background-position : center;
    background-repeat : no-repeat;
    background-size : cover;
    position : relative;
}

.my-banner-text {
    margin-top: 2.3%;
    width: 70%;
    height: 80%;
    float: right;
    color: white;
}

h1.my-banner-text {
    margin-top: 10px;
}

/* p.my-banner-text {

} */


/* Post Component */
@media (min-width: 1020px) {
    .blog-container {
        max-width:960px;
    }
}
.blog-container {
    margin: auto;
    width: 90%;
    padding-top: 10px;
    /* height: 100%; */
    display: block;
    /* background-color: red; */
}


.my-blog-post {
    height: 13rem;
    max-height: 20%;
    width: 100%;
    /* background-color: purple; */
    margin-bottom: 13px;
}

.my-blog-post-picture-container {
    float: left;
    height: 100%;
    width: 40%;
    margin-right: 3%;

    background-image: url("../images/plant.png");
    background-position : center;
    background-repeat : no-repeat;
    background-size : cover;
    position : relative;
    vertical-align: middle;
    box-shadow: 5px 5px 7px grey;
}


.my-blog-post-details {
    float: right;
    height: 100%;
    width: 57%;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: blue; */
    display: block;

}

h1.my-blog-post-details {
    float: left;
    width: 100%;
    height: 20%;
    margin-bottom: 0;
    font-size: 30px;
    /* background-color: yellow; */
}

p.my-blog-post-details {
    float: left;
    width: 100%;
    /* margin-top: 3%; */
    margin-bottom: 3px;
    height: 60%;
    font-size: 17px;
    /* background-color: brown; */
}

.my-blog-post-bottom-container {
    height: 18.5%;
    width: 100%;
    float: right;
    /* margin-top: 3%; */
    /* background-color: orange; */
}






